<%- include header.ejs %>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">

        <div ng-controller="userCtrl as userCtrl" class="text-center loginscreen animated fadeInDown"
             ng-if="showDiv==0">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Users</h2>
                    <p>Manage your users here</p>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-4" ng-repeat="user in userCtrl.allUsers">
                        <div class="contact-box contact-card">
                            <a href="#">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="profile-image img-circle m-t-xs img-responsive"
                                             src="{{user.image || 'img/user.png'}}">
                                        <div class="m-t-xs"><span class="font-bold" style="white-space: nowrap">{{user.logintype}}</span>
                                        </div>
                                        <div class="m-t-xs" style="white-space: nowrap">{{user.createdAt|date:'MMM dd,
                                            yyyy'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 text-left">
                                    <h3><strong>{{user.username|capitalize}}</strong></h3>
                                    <p><i class="fa fa-envelope "><span class="padding-left-5">{{user.email}}</span></i>
                                    </p>
                                    <p><i class="fa fa-glass danger "><span class="padding-left-5">Has checked off {{user.checked.length||'0'}} tequilas</span></i>
                                    </p>

                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-controller="categoryCtrl as categoryCtrl" class="text-center loginscreen animated fadeInDown"
             ng-if="showDiv==1">
            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div class="iPhone-5">
                        <div class="mobilView ScrollDiv margin-auto">
                            <div class="row redHeader">
                                <div class="col-lg-12  font-15 m-t m-b text-center">
                                    <p>Menu <span class="font glyphicon glyphicon-home  pull-right m-r"></span></p>
                                </div>
                            </div>
                            <div class="card-mod" ng-repeat="list in categoryCtrl.categoryList|orderBy:'order'"
                                 ng-click="categoryCtrl.selectCategory(list)"
                                 ng-class="{'green-bg':categoryCtrl.itemToBeEdited==list}">
                                <div class="row no-padding">
                                    <div class="col-lg-4">
                                        <div class="ImageStyle"
                                             ng-style="{'background-image':'url('+catApi+'/uploads/'+list.image+')'}"></div>
                                    </div>
                                    <div class="col-lg-6 font wrap-text"><strong>{{list.name}}</strong>
                                    </div>
                                    <div class="col-lg-2"><img class="imgPadding" src="img/right.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 margin-top-50">
                    <div class="col-lg-12">

                        <h4 class="padding-bottom-20 text-x-large">Add New Category</h4>
                        <form class="m-t " role="form" ng-submit="!categoryCtrl.submitted||categoryCtrl.addCategory()">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category Name" ng-required="true"
                                       ng-model="categoryCtrl.category.name">

                                <div class=" border-bottom-gray">
                                    <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                        <div class="col-lg-12 text-center padding-top-30">
                                            <h4>Select category image</h4>
                                        </div>
                                    </div>
                                    <div ng-if="categoryCtrl.file">
                                        <img class="limit-upload-size" ng-src="{{categoryCtrl.file.$ngfBlobUrl}}">
                                    </div>
                                    <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                            ng-model="categoryCtrl.file" name="file" ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                        Select
                                    </button>
                                    <div class="row  margin-left-10 margin-right-10 margin-bottom-10"
                                         ng-if="categoryCtrl.noImage">
                                        <div class="col-lg-12 text-center text-danger">
                                            <h5>Please select an image</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="margin-top-30">
                                    <button type="submit" class="btn btn-primary block m-b margin-auto"
                                            ng-click="categoryCtrl.submitted=true">Add Category
                                    </button>
                                </div>
                            </div>

                        </form>

                        <form class="m-t update-category col-lg-12" role="form" ng-show="categoryCtrl.show==true">
                            <h4 class="padding-bottom-20 text-x-large">Update or Delete category</h4>
                            <p class="padding-bottom-20 text-large">
                                <span class="fa fa-arrow-up" ng-click="categoryCtrl.orderUp()"></span>
                                Change Order
                                <span class="fa fa-arrow-down" ng-click="categoryCtrl.orderDown()"></span></p>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category Name" ng-required="true"
                                       ng-model="categoryCtrl.update.name">
                            </div>
                            <div class=" border-bottom-gray">
                                <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                    <div class="col-sm-12 text-center">
                                        <h4>Change category image</h4>
                                    </div>
                                </div>
                                <div>
                                    <img class="limit-upload-size" ng-if="categoryCtrl.files"
                                         ng-src="{{categoryCtrl.files.$ngfBlobUrl}}">
                                    <img class="limit-upload-size" ng-if="!categoryCtrl.files"
                                         ng-src="{{catApi}}/uploads/{{categoryCtrl.itemToBeEdited.image}}">

                                </div>
                                <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                        ng-model="categoryCtrl.files" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                    Select
                                </button>
                            </div>
                            <div class="row padding-top-30">
                                <div class="col-lg-offset-2 col-lg-4">
                                    <button class="btn btn-primary block full-width m-b"
                                            ng-click="categoryCtrl.UpdateCategory()">Update
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-danger block full-width m-b"
                                            ng-click="categoryCtrl.DeleteCategory()">Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <div ng-controller="addMenuItemCtrl as addMenuItemCtrl" class="text-center loginscreen   animated fadeInDown"
             ng-if="showDiv==2">
            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div>
                        <div>
                            <label><h4>Select a category:</h4></label>
                            <select ng-options="item as item.name for item in addMenuItemCtrl.categoryList"
                                    ng-model="addMenuItemCtrl.menu.selectCategory"
                                    ng-change="addMenuItemCtrl.changeDisplayList()">
                            </select>
                        </div>
                    </div>
                    <div class="OuterDiv ">
                        <!--ng-repeat="list in addMenuItemCtrl.MenuItemList"-->
                        <div class="row redHeader margin5">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Menu <img class="font pull-left m-l" src="img/left-arrow.png"></p>
                            </div>
                        </div>
                        <div class="categoryMenu">
                            <div class="DivBorder"
                                 ng-repeat="item in addMenuItemCtrl.displayList|orderBy:'order'"
                                 ng-click="addMenuItemCtrl.indexValue(item)">
                                <div class="row margin0 divBack relative"
                                     ng-class="{'green-bg':addMenuItemCtrl.itemToBeEdited==item}">
                                    <div class="col-lg-4">
                                        <div class="ImageStyle"
                                             ng-style="{'background-image':'url('+catApi+'/uploads/'+item.image+')'}"></div>
                                    </div>
                                    <div class="col-lg-8 font wrap-text"
                                         ng-class="{'white':addMenuItemCtrl.itemToBeEdited==item,
                                         'NameRed':addMenuItemCtrl.itemToBeEdited!=item}">
                                        {{item.name}}

                                    </div>
                                    <div>
                                            <span class="fa fa-arrow-down expand-arrow"
                                                  ng-click="addMenuItemCtrl.dropDetail($index)">

                                            </span>
                                    </div>
                                </div>
                                <div class="DivBorder" ng-if="$index==addMenuItemCtrl.index">
                                    <div class="row PaddingDiv">
                                        <div class="col-lg-6 DiscriptionDiv">
                                            Description
                                        </div>
                                        <div class="col-lg-6 CommentDiv">
                                            Comments
                                        </div>
                                    </div>
                                    <div class="row imageShow">
                                        <img src="img/bottle.png" width="225" height="225"
                                             ng-src="{{catApi}}/uploads/{{item.imageThumb}}">
                                    </div>

                                    <div class="row discription"
                                         ng-click="addTourCtrl.obj(addMenuItemCtrl.MenuItemList.selected)">
                                        <p>{{item.description}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 margin-top-50">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Add New Menu Item</h4>
                            <form class="m-t" role="form"
                                  ng-submit="!addMenuItemCtrl.submitted||addMenuItemCtrl.addMenuItem()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Menu Item Name"
                                           ng-required="true" ng-model="addMenuItemCtrl.menuItem.name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Description" ng-required="true"
                                           ng-model="addMenuItemCtrl.menuItem.description">
                                </div>
                                <div class="text-center">
                                    <label><h4>Select a category:</h4></label>
                                    <select ng-options="item as item.name for item in addMenuItemCtrl.categoryList"
                                            ng-model="addMenuItemCtrl.menuItem.selected">
                                    </select>
                                </div>
                                <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                     ng-if="addMenuItemCtrl.noCategory">
                                    <div class="col-sm-12 text-center text-danger">
                                        <h5>Please select a category</h5>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                            <div class="col-sm-12 text-center">
                                                <h4>Select item image</h4>
                                            </div>
                                        </div>
                                        <div ng-if="addMenuItemCtrl.file">
                                            <img class="limit-upload-size"
                                                 ng-src="{{addMenuItemCtrl.file.$ngfBlobUrl}}">

                                        </div>
                                        <button class="btn btn-primary form-group margin-top-20 MarginBottom" ngf-select
                                                ng-model="addMenuItemCtrl.file" name="file" ngf-pattern="'image/*'"
                                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                            Select
                                        </button>
                                        <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                             ng-if="addMenuItemCtrl.noImage">
                                            <div class="col-sm-12 text-center text-danger">
                                                <h5>Please select an image</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary block full-width m-b"
                                        ng-click="addMenuItemCtrl.submitted=true">Add Menu Item
                                </button>

                            </form>
                        </div>
                        <form class="m-t update-category col-lg-12" role="form" ng-show="addMenuItemCtrl.show==true">
                            <h4 class="padding-bottom-20 text-x-large">Update or Delete Item</h4>
                            <p class="padding-bottom-20 text-large">
                                <span class="fa fa-arrow-up" ng-click="addMenuItemCtrl.orderUp()"></span>
                                Change Order
                                <span class="fa fa-arrow-down" ng-click="addMenuItemCtrl.orderDown()"></span></p>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category Name" ng-required="true"
                                       ng-model="addMenuItemCtrl.update.name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" ng-required="true"
                                       ng-model="addMenuItemCtrl.update.description">
                            </div>
                            <div class=" border-bottom-gray">
                                <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                    <div class="col-sm-12 text-center">
                                        <h4>Change item image</h4>
                                    </div>
                                </div>
                                <div>
                                    <img class="limit-upload-size" ng-if="addMenuItemCtrl.files"
                                         ng-src="{{addMenuItemCtrl.files.$ngfBlobUrl}}">
                                    <img class="limit-upload-size" ng-if="!addMenuItemCtrl.files"
                                         ng-src="{{catApi}}/uploads/{{addMenuItemCtrl.itemToBeEdited.image}}">
                                </div>
                                <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                        ng-model="addMenuItemCtrl.files" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                    Select
                                </button>
                            </div>
                            <div class="row padding-top-30">
                                <div class="col-lg-offset-2 col-lg-4">
                                    <button class="btn btn-primary block full-width m-b"
                                            ng-click="addMenuItemCtrl.UpdateCategory()">Update
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-danger block full-width m-b"
                                            ng-click="addMenuItemCtrl.DeleteCategory()">Delete
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="addTourCtrl as addTourCtrl" class=" text-center loginscreen   animated fadeInDown"
             ng-if="showDiv==3">

            <div class="row">
                <div class="col-lg-6 margin-top-50">

                    <div class="TourView">
                        <div class="row redHeader">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Tequila Tour <span class="font glyphicon glyphicon-home  pull-right m-r"></span></p>
                            </div>
                        </div>
                        <div ng-repeat="list in addTourCtrl.TourItemList|orderBy:'order'"
                             ng-click="addTourCtrl.obj(list)"
                             ng-class="{'border-green':addTourCtrl.itemToBeEdited==list}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="ImageStyle"
                                         ng-style="{'background-image':'url('+catApi+'/uploads/'+list.image+')'}"></div>
                                </div>
                                <div class="col-lg-8 font text-left ">
                                    <p>[/]</p>
                                    <h4 class="NameRed font"><strong>{{list.name}}</strong></h4>
                                    <h4>{{list.description}}</h4>
                                </div>

                            </div>
                            <hr>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 margin-top-50">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Add New Tour</h4>
                            <form class="m-t" role="form" ng-submit="!addTourCtrl.submitted||addTourCtrl.addTour()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tour Name" ng-required="true"
                                           ng-model="addTourCtrl.TourItem.name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tour Description"
                                           ng-required="true" ng-model="addTourCtrl.TourItem.description">
                                </div>

                                <div class="col-lg-12">
                                    <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                        <div class="col-sm-12 text-center">
                                            <h4>Select tour image</h4>
                                        </div>
                                    </div>
                                    <div ng-if="addTourCtrl.file">
                                        <img class="limit-upload-size" ng-src="{{addTourCtrl.file.$ngfBlobUrl}}">
                                    </div>
                                    <button class="btn btn-primary form-group margin-top-20 MarginBottom" ngf-select
                                            ng-model="addTourCtrl.file" name="file" ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                        Select
                                    </button>
                                    <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                         ng-if="addTourCtrl.noImage">
                                        <div class="col-sm-12 text-center text-danger">
                                            <h5>Please select an image</h5>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b"
                                        ng-click="addTourCtrl.submitted=true">Add Tour
                                </button>

                            </form>
                        </div>
                        <form class="m-t" role="form" ng-show="addTourCtrl.show==true">
                            <h4>Update or Delete Tour</h4>
                            <p class="padding-bottom-20 text-large">
                                <span class="fa fa-arrow-up" ng-click="addTourCtrl.orderUp()"></span>
                                Change Order
                                <span class="fa fa-arrow-down" ng-click="addTourCtrl.orderDown()"></span></p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category Name" ng-required="true"
                                       ng-model="addTourCtrl.update.name">
                            </div>
                            <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Image" ng-required="true" ng-model="addTourCtrl.update.image">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="imageThumb" ng-required="true" ng-model="addTourCtrl.update.imageThumb">-->
                            <!--</div>-->

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" ng-required="true"
                                       ng-model="addTourCtrl.update.description">
                            </div>
                            <div class="col-lg-12">
                                <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                    <div class="col-sm-12 text-center">
                                        <h4>Select profile image</h4>
                                    </div>
                                </div>
                                <div>
                                    <img ng-if="addTourCtrl.files" class="limit-upload-size"
                                         ng-src="{{addTourCtrl.files.$ngfBlobUrl}}">
                                    <img ng-if="!addTourCtrl.files" class="limit-upload-size"
                                         ng-src="{{catApi}}/uploads/{{addTourCtrl.itemToBeEdited.image}}">

                                </div>
                                <button class="btn btn-primary form-group margin-top-20 MarginBottom" ngf-select
                                        ng-model="addTourCtrl.files" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                    Select
                                </button>
                            </div>
                            <div class="row">

                                <div class="col-lg-offset-2 col-lg-4">
                                    <button class="btn btn-primary block full-width m-b"
                                            ng-click="addTourCtrl.UpdateCategory()">Update
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-danger block full-width m-b"
                                            ng-click="addTourCtrl.DeleteCategory()">Delete
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div ng-controller="addTourDetailsCtrl as addTourDetailsCtrl"
             class="text-center loginscreen   animated fadeInDown" ng-if="showDiv==4">

            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div>
                        <div>
                            <label><h4>Select a Tour:</h4></label>
                            <select ng-options="item as item.name for item in addTourDetailsCtrl.menuItemList"
                                    ng-model="addTourDetailsCtrl.menuItemList.select"
                                    ng-change="addTourDetailsCtrl.changeDisplayList()">
                                <!--<option value="">&#45;&#45; choose one &#45;&#45;</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="TourDetailView">
                        <div class="row redHeader">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Tequila Tour <img class="font pull-left m-l" src="img/left-arrow.png"></p>
                            </div>
                        </div>
                        <div>
                            <p ng-model="addTourDetailsCtrl.menuItemList.select" class="NameRed font">
                                {{addTourDetailsCtrl.menuItemList.select.name}}</p>
                        </div>
                        <hr>
                        <div ng-repeat="list in addTourDetailsCtrl.displayList|orderBy:'order'"
                             ng-click="addTourDetailsCtrl.indexValue(list)"
                             ng-class="{'border-green':addTourDetailsCtrl.itemToBeEdited==list}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="ImageStyle"
                                         ng-style="{'background-image':'url('+catApi+'/uploads/'+list.image+')'}"></div>
                                </div>
                                <div class="col-lg-6 font text-left ">
                                    <p class="NameRed font">{{list.name}}</p>
                                    <p> Price:{{list.price}}</p>
                                </div>
                                <div class="col-lg-2" style="padding: 0;text-align: left;">
                                    <img class="imgPadding" src="img/big-right-arrow16.png">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 margin-top-50">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Add Tour Details</h4>
                            <form class="m-t" role="form"
                                  ng-submit="!addTourDetailsCtrl.submitted||addTourDetailsCtrl.addTourDetails()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="TourDetail Name"
                                           ng-required="true" ng-model="addTourDetailsCtrl.TourDetails.name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="TourDetail Description"
                                           ng-required="true" ng-model="addTourDetailsCtrl.TourDetails.description">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="TourDetail price"
                                           ng-required="true" ng-model="addTourDetailsCtrl.TourDetails.price">
                                </div>
                                <div>
                                    <label><h4>Select a tour</h4></label>
                                    <select class="MarginBottom"
                                            ng-options="item as item.name for item in addTourDetailsCtrl.menuItemList"
                                            ng-model="addTourDetailsCtrl.TourDetails.selected">
                                    </select>
                                </div>
                                <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                     ng-if="addTourDetailsCtrl.noTour">
                                    <div class="col-sm-12 text-center text-danger">
                                        <h5>Please select a tour</h5>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                        <div class="col-sm-12 text-center">
                                            <h4>Select tour item image</h4>
                                        </div>
                                    </div>
                                    <div ng-if="addTourDetailsCtrl.file">
                                        <img class="limit-upload-size" ng-src="{{addTourDetailsCtrl.file.$ngfBlobUrl}}">
                                    </div>
                                    <button class="btn btn-primary form-group margin-top-20 MarginBottom" ngf-select
                                            ng-model="addTourDetailsCtrl.file" name="file" ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                        Select
                                    </button>
                                    <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                         ng-if="addTourDetailsCtrl.noImage">
                                        <div class="col-sm-12 text-center text-danger">
                                            <h5>Please select an image</h5>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b"
                                        ng-click="addTourDetailsCtrl.submitted=true">Add TourDetails
                                </button>

                            </form>
                        </div>
                        <form class="m-t update-category col-lg-12" role="form" ng-show="addTourDetailsCtrl.show==true">
                            <h4 class="padding-bottom-20 text-x-large">Update or Delete Tequila</h4>
                            <p class="padding-bottom-20 text-large">
                                <span class="fa fa-arrow-up" ng-click="addTourDetailsCtrl.orderUp()"></span>
                                Change Order
                                <span class="fa fa-arrow-down" ng-click="addTourDetailsCtrl.orderDown()"></span></p>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category Name" ng-required="true"
                                       ng-model="addTourDetailsCtrl.update.name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" ng-required="true"
                                       ng-model="addTourDetailsCtrl.update.description">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="price" ng-required="true"
                                       ng-model="addTourDetailsCtrl.update.price">
                            </div>
                            <div class=" border-bottom-gray">
                                <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                    <div class="col-sm-12 text-center">
                                        <h4>Change tequila image</h4>
                                    </div>
                                </div>
                                <div>
                                    <img class="limit-upload-size" ng-if="addTourDetailsCtrl.files"
                                         ng-src="{{addTourDetailsCtrl.files.$ngfBlobUrl}}">
                                    <img class="limit-upload-size" ng-if="!addTourDetailsCtrl.files"
                                         ng-src="{{catApi}}/uploads/{{addTourDetailsCtrl.itemToBeEdited.image}}">
                                </div>
                                <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                        ng-model="addTourDetailsCtrl.files" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                    Select
                                </button>
                            </div>
                            <div class="row padding-top-30">
                                <div class="col-lg-offset-2 col-lg-4">
                                    <button class="btn btn-primary block full-width m-b"
                                            ng-click="addTourDetailsCtrl.UpdateCategory()">Update
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-danger block full-width m-b"
                                            ng-click="addTourDetailsCtrl.DeleteCategory()">Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div ng-controller="contactInfoCtrl as contactInfoCtrl" class="text-center loginscreen   animated fadeInDown"
             ng-if="showDiv==5">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>App Settings</h2>
                    <p>Manage general app settings</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 margin-top-30">
                    <div class="padding-20p">
                        <form role="form" name="contactform"
                              ng-submit="contactInfoCtrl.addData(contactInfoCtrl.newdata,contactInfoCtrl.clear=true)">
                            <div class="form-group">
                                <label> Name of restaurant</label>
                                <input type="text" class="form-control" placeholder="Restaurant name" ng-required="true"
                                       ng-model="contactInfoCtrl.newdata.restaurantName">
                            </div>
                            <div class="form-group">
                                <label> Location</label>
                                <input type="text" class="form-control" placeholder="Enter latitude" ng-required="true"
                                       ng-model="contactInfoCtrl.newdata.lat">
                                <input type="text" class="form-control" placeholder="Enter longitude" ng-required="true"
                                       ng-model="contactInfoCtrl.newdata.long">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Enter restaurant address"
                                       ng-required="true" ng-model="contactInfoCtrl.newdata.address">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 margin-top-30">
                    <div class="form-group">
                        <table>
                            <th>No.</th>
                            <th>Day</th>
                            <th>Opening time</th>
                            <th>Closing time</th>
                            <tr>
                                <td>1</td>
                                <td>Sunday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.sunday.openingTime"
                                                             ng-required="true">
                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.sunday.closingTime"
                                                             ng-required="true">
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Monday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.monday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.monday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tuesday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.tuesday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.tuesday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Wednesday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.wednesday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.wednesday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>thursday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.thursday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.thursday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Friday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.friday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.friday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Saturday</td>
                                <td class="padding-5"><input type="text" name="openingTime"
                                                             placeholder="10:00AM"
                                                             ng-model="contactInfoCtrl.newdata.saturday.openingTime"
                                                             ng-required="true">

                                </td>
                                <td class="padding-5"><input type="text" name="closingTime"
                                                             placeholder="10:00PM"
                                                             ng-model="contactInfoCtrl.newdata.saturday.closingTime"
                                                             ng-required="true">

                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--<div class="padding-20p text-center">-->
                    <!--<form role="form" name="passcodeForm"-->
                    <!--ng-submit="contactInfoCtrl.setPasscode()">-->
                    <!--<div class="form-group">-->
                    <!--<label> Set 4 digit passcode</label>-->
                    <!--<input type="text" class="form-control" placeholder="passcode" ng-required="true"-->
                    <!--ng-model="contactInfoCtrl.newdata.passcode">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-primary block full-width m-b">Set Passcode</button>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary block margin-auto m-b btn-w-m">Submit</button>
                </div>
            </div>
        </div>

        <div ng-controller="FanCommentCtrl as FanCommentCtrl" class="text-center loginscreen   animated fadeInDown"
             ng-if="showDiv==6">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Fan Comments</h2>
                    <p>Manage fan comments</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div class="TourDetailView">
                        <div class="row redHeader">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Fan Wall <span
                                            class="font pull-right m-r glyphicon glyphicon glyphicon-menu-hamburger"></span>
                                </p>
                            </div>
                        </div>
                        <div class="m-t">
                            <p>Good or Bad, we would love to hear from you</p>
                        </div>
                        <hr>
                        <div class="row selectable comment margin-0"
                             ng-repeat="comment in FanCommentCtrl.comments|orderBy:'-created'"
                             ng-click="FanCommentCtrl.selectThisComment(comment, $index)"
                             ng-class="{'selected':FanCommentCtrl.selectedCommentIndex==$index,
                        'border-bottom-gray':FanCommentCtrl.selectedCommentIndex!=$index}">
                            <div class="col-lg-3" style="min-height:80px">
                                <img ng-src="{{comment.picture}}" class="img-circle comment-picture"/>
                            </div>
                            <div class="col-lg-9 text-left">
                                <h4><strong> {{comment.comment}}</strong></h4>
                                <div>
                                    <p class="alignleft">{{comment.userId}}</p>

                                </div>
                                <div style="clear: both">
                                    <p class="alignleft text-small">
                                        {{comment.time}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="FanCommentCtrl.noMoreComments">
                        <div class="col-sm-12 red wrap text-center">
                            No more comments
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 red wrap text-center">
                            <button class="btn btn-primary block margin-auto margin-top-30" style="width:100px"
                                    ng-click="FanCommentCtrl.loadMore()">Load More
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 margin-top-50" ng-if="FanCommentCtrl.showDeleteButton">
                    <button class="btn btn-danger block m-b margin-auto margin-top-30"
                            ng-click="FanCommentCtrl.deleteComment()">Delete Selected Comment
                    </button>
                </div>
            </div>
        </div>

        <div ng-controller="PushNotificationsCtrl as PushNotificationsCtrl"
             class="text-center loginscreen   animated fadeInDown" ng-if="showDiv==7">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Push Notifications</h2>
                    <p>Compose and send push notifications</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div class="TourDetailView">
                        <div class="row redHeader">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Push Messages <span
                                            class="font pull-right m-r glyphicon glyphicon glyphicon-menu-hamburger"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row selectable"
                             ng-repeat="push in PushNotificationsCtrl.allMessages|orderBy:'-createdAt'"
                             ng-click="PushNotificationsCtrl.selectThisPush($index, push)"
                             ng-class="{'selected':PushNotificationsCtrl.selectedPushIndex==$index}">
                            <div class="LRmargin20 borderRadius10top m-t  DivBorder"
                                 ng-class="{'green-border':PushNotificationsCtrl.selectedPushIndex==$index}">
                                <div class="text-left margin5">
                                    <compile id="compile" content="push.message"></compile>
                                </div>

                            </div>
                            <div class="borderRadius10base  LRmargin20 DivBorder"
                                 ng-class="{'green-bg green-border':PushNotificationsCtrl.selectedPushIndex==$index,
                                 'redHeader':PushNotificationsCtrl.selectedPushIndex!=$index}">
                                <div class="row padding8 ">
                                    <div class="col-lg-9 text-left">
                                        <h4> {{push.createdAt|date:'MMM dd, yyyy hh:mm'}}</h4>
                                    </div>
                                    <!--<div class="col-lg-3 ">-->
                                    <!--<img src="img/upload-icon-5.png">-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 margin-top-50">
                    <form class="m-t " role="form"
                          ng-submit="!PushNotificationsCtrl.submitted||PushNotificationsCtrl.sendPush()">
                        <div class="form-group">
                            <textarea class="textarea" ng-model="PushNotificationsCtrl.pushContent"
                                      ng-required="true"></textarea>
                            <button class="btn btn-primary block m-b margin-auto margin-top-30"
                                    ng-click="PushNotificationsCtrl.submitted=true">Send Push
                            </button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group margin-top-30">
                                <input type="text" class="form-control" placeholder="Enter the word to be set as link"
                                       ng-model="PushNotificationsCtrl.pushLinkText">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group margin-top-30">
                                <input type="text" class="form-control"
                                       placeholder="Link starting with http:// or https://"
                                       ng-model="PushNotificationsCtrl.pushLink">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="PushNotificationsCtrl.showLinkError">
                        <div class="col-sm-12 red">
                            Please enter both "Link text" and "Link"
                        </div>
                    </div>
                    <div class="row" ng-if="PushNotificationsCtrl.useHttp">
                        <div class="col-sm-12 red wrap text-center">
                            Link should start with 'http://' or 'https://'.<br> E.g. http://google.com
                        </div>
                    </div>
                    <button class="btn btn-primary block m-b margin-auto margin-top-30"
                            ng-click="PushNotificationsCtrl.addLink()">Add Link
                    </button>

                    <div class="row margin-top-30 border-top-gray" ng-if="PushNotificationsCtrl.showDeleteButton">
                        <div class="col-sm-12 red">
                            <button class="btn btn-danger block m-b margin-auto margin-top-30"
                                    ng-click="PushNotificationsCtrl.deletePush()">Delete Selected Push
                            </button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div ng-controller="ManagePhotosCtrl as ManagePhotosCtrl" class="text-center loginscreen   animated fadeInDown"
             ng-if="showDiv==8">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Manage Photos</h2>
                </div>
            </div>

            <div class="row padding-top-10">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active':ManagePhotosCtrl.tab==1}">
                                <span class="tab-link" ng-click="ManagePhotosCtrl.showTab(1)">User Photos</span></li>
                            <li ng-class="{'active':ManagePhotosCtrl.tab==2}">
                                <span class="tab-link" ng-click="ManagePhotosCtrl.showTab(2)">Admin Photos</span></li>
                        </ul>

                        <div class="tab-content">
                            <div ng-if="ManagePhotosCtrl.tab==1">
                                <div class="panel-body border-top-0">
                                    <div class="row">
                                        <div class="col-lg-6 margin-top-50">
                                            <div class="TourDetailView">
                                                <div class="row redHeader">
                                                    <div class="col-lg-12  font-15 m-t m-b text-center">
                                                        <p><span class="font pull-left m-l glyphicon glyphicon-play"></span>
                                                            Gallery
                                                            <span class="font pull-right m-r glyphicon glyphicon-menu-hamburger"></span></p>
                                                    </div>
                                                </div>
                                                <div class="row dashboard-images user-image">
                                                    <div ng-style="{'background-image':'url(/uploads/'+image.imageId+')'}"
                                                         ng-click="ManagePhotosCtrl.selectUserImage(image, $index)"
                                                         ng-repeat="image in ManagePhotosCtrl.userImages"
                                                         ng-class="{'selected':ManagePhotosCtrl.selectedUserImageIndex==$index}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 margin-top-50">
                                            <div class="update-category margin-top-20 border-top-gray"
                                                 ng-if="ManagePhotosCtrl.selectedImageUser">
                                                <div class="show-selected-image">
                                                    <div class="row padding-top-10 padding-bottom-10">
                                                        <div class="col-lg-12 text-center text-x-large">
                                                            Selected Image
                                                        </div>
                                                    </div>
                                                    <img class="limit-upload-size padding-top-10 padding-bottom-10"
                                                         ng-src="/uploads/{{ManagePhotosCtrl.selectedImageUser.imageId}}">
                                                </div>
                                                <div class="row padding-top-10 padding-bottom-10">
                                                    <div class="col-lg-12" ng-if="ManagePhotosCtrl.selectedImageUser">
                                                        <button class="btn btn-danger block margin-auto m-b"
                                                                ng-click="ManagePhotosCtrl.deleteImage('user')">Delete Photo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div ng-if="ManagePhotosCtrl.tab==2">
                                <div class="panel-body border-top-0">
                                    <div class="row">

                                        <div class="col-lg-6 margin-top-50">
                                            <div class="TourDetailView">
                                                <div class="row redHeader">
                                                    <div class="col-lg-12  font-15 m-t m-b text-center">
                                                        <p><span class="font pull-left m-l glyphicon   glyphicon-play"></span>
                                                            Gallery
                                                            <span class="font pull-right m-r glyphicon glyphicon-menu-hamburger"></span></p>
                                                    </div>
                                                </div>
                                                <div class="row dashboard-images margin-0 admin-image">
                                                    <div ng-style="{'background-image':'url(/uploads/'+image.imageId+')'}"
                                                         ng-click="ManagePhotosCtrl.selectAdminImage(image, $index)"
                                                         ng-repeat="image in ManagePhotosCtrl.adminImages"
                                                         ng-class="{'selected':ManagePhotosCtrl.selectedAdminImageIndex==$index}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 margin-top-50">
                                            <form>
                                                <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                                    <div class="col-lg-12 text-center">
                                                        <h4>Select image to upload</h4>
                                                    </div>


                                                    <div>
                                                        <img class="limit-upload-size" ng-src="{{ManagePhotosCtrl.file.$ngfBlobUrl}}"
                                                             ng-if="ManagePhotosCtrl.file">
                                                    </div>
                                                    <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                                            ng-model="ManagePhotosCtrl.file" name="file" ngf-pattern="'image/*'"
                                                            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                                        Select
                                                    </button>
                                                </div>
                                                <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                                     ng-if="ManagePhotosCtrl.imageRequired">
                                                    <div class="col-lg-12 text-center text-danger">
                                                        <h5>Please select an image to upload</h5>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary block m-b margin-auto" ng-click="ManagePhotosCtrl.upload()">
                                                    Submit
                                                </button>
                                            </form>
                                            <div class="update-category margin-top-20 border-top-gray" ng-if="ManagePhotosCtrl.selectedImage">
                                                <div class="show-selected-image">
                                                    <div class="row padding-top-10 padding-bottom-10">
                                                        <div class="col-lg-12 text-center text-x-large">
                                                            Selected Image
                                                        </div>
                                                    </div>
                                                    <img class="limit-upload-size padding-top-10 padding-bottom-10"
                                                         ng-src="/uploads/{{ManagePhotosCtrl.selectedImage.imageId}}">

                                                </div>
                                                <div class="row padding-top-10 padding-bottom-10">
                                                    <div class="col-lg-12" ng-if="ManagePhotosCtrl.selectedImage">
                                                        <button class="btn btn-danger block margin-auto m-b"
                                                                ng-click="ManagePhotosCtrl.deleteImage('admin')">Delete Photo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>

        <div ng-controller="LoyaltyCtrl as LoyaltyCtrl"
             class="text-center loginscreen   animated fadeInDown" ng-if="showDiv==9">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Loyalty Offers</h2>
                    <p>Manage your loyalty offers</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 margin-top-50">
                    <div class="TourDetailView">
                        <div class="row redHeader">
                            <div class="col-lg-12  font-15 m-t m-b text-center">
                                <p>Loyalty Offers <span
                                            class="font pull-right m-r glyphicon glyphicon glyphicon-menu-hamburger"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row selectable" ng-repeat="loyalty in LoyaltyCtrl.allMessages|orderBy:'-createdAt'"
                             ng-click="LoyaltyCtrl.selectLoyalty(loyalty, $index)">
                            <div class="LRmargin20 borderRadius10top m-t  DivBorder text-left padding-10"
                                 ng-class="{'green-border':LoyaltyCtrl.selectedLoyaltyIndex==$index}">
                                <div class="row">
                                    <div class="col-lg-12 bold- text-x-large">
                                        {{loyalty.name}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{loyalty.description}}
                                    </div>
                                </div>
                            </div>
                            <div class="borderRadius10base  LRmargin20  DivBorder"
                                 ng-class="{'green-bg green-border':LoyaltyCtrl.selectedLoyaltyIndex==$index,
                                 'redHeader':LoyaltyCtrl.selectedLoyaltyIndex!=$index}">
                                <div class="row padding8 ">
                                    <div class="col-xs-8 text-left">
                                        <h4> {{loyalty.createdAt|date:'MMM dd, yyyy hh:mm'}}</h4>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <h4> {{loyalty.stamps}} stamps</h4>
                                    </div>
                                    <!--<div class="col-lg-3 ">-->
                                    <!--<img src="img/upload-icon-5.png">-->
                                    <!--</div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 margin-top-50">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 bold text-large">
                            Create New Loyalty Offer
                        </div>
                    </div>
                    <form class="m-t " role="form" ng-submit="!LoyaltyCtrl.submitted||LoyaltyCtrl.addOffer()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <div class="form-group margin-top-30">
                                        <input type="text" class="form-control" placeholder="Loyalty Offer Name"
                                               ng-required="true"
                                               ng-model="LoyaltyCtrl.offerName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <div class="row">
                                        <div class="col-xs-6" style="line-height: 30px">
                                            <h4>No. of stamps</h4>
                                            <h4>No. of stamps</h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="number" class="form-control"
                                                       ng-required="true"
                                                       ng-model="LoyaltyCtrl.offerStamps">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                                 ng-if="LoyaltyCtrl.onlyPositive">
                                <div class="col-lg-12 text-center text-danger">
                                    <h5>Only positive numbers for stamps</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6">
                            <textarea class="textarea2" ng-model="LoyaltyCtrl.description" ng-required="true"
                                      placeholder="Loyalty Description"></textarea>
                                </div>
                            </div>
                            <div class=" border-bottom-gray">
                                <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                    <div class="col-lg-12 text-center padding-top-30">
                                        <h4>Select loyalty image</h4>
                                    </div>
                                </div>
                                <div ng-if="LoyaltyCtrl.file">
                                    <img class="limit-upload-size" ng-src="{{LoyaltyCtrl.file.$ngfBlobUrl}}">
                                </div>
                                <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                        ng-model="LoyaltyCtrl.file" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                    Select
                                </button>
                                <div class="row  margin-left-10 margin-right-10 margin-bottom-10"
                                     ng-if="LoyaltyCtrl.noImage">
                                    <div class="col-lg-12 text-center text-danger">
                                        <h5>Please select an image</h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary block m-b margin-auto margin-top-30"
                                        ng-click="LoyaltyCtrl.submitted=true">Add Offer
                                </button>
                            </div>
                        </div>
                    </form>

                    <form class="m-t update-category col-lg-12" role="form" ng-show="LoyaltyCtrl.edit==true"
                          ng-submit="!LoyaltyCtrl.update.submitted||LoyaltyCtrl.UpdateCategory()">
                        <h4 class="padding-bottom-20 text-x-large">Update or Delete Loyalty</h4>

                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div class="form-group margin-top-30">
                                    <input type="text" class="form-control" placeholder="Loyalty Offer Name"
                                           ng-model="LoyaltyCtrl.update.name" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-6" style="line-height: 30px">
                                        <h4>No. of stamps</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <input type="number" class="form-control"
                                                   ng-required="true"
                                                   ng-model="LoyaltyCtrl.update.stamps">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-left-10 margin-right-10 margin-bottom-10"
                             ng-if="LoyaltyCtrl.update.onlyPositive">
                            <div class="col-lg-12 text-center text-danger">
                                <h5>Only positive numbers for stamps</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                            <textarea class="textarea2" ng-model="LoyaltyCtrl.update.description" ng-required="true"
                                      placeholder="Loyalty Description"></textarea>
                            </div>
                        </div>
                        <div class=" border-bottom-gray">
                            <div class="row  margin-left-10 margin-right-10 margin-bottom-10">
                                <div class="col-sm-12 text-center">
                                    <h4>Change loyalty image</h4>
                                </div>
                            </div>
                            <div>
                                <img class="limit-upload-size" ng-if="LoyaltyCtrl.files"
                                     ng-src="{{LoyaltyCtrl.files.$ngfBlobUrl}}">
                                <img class="limit-upload-size" ng-if="!LoyaltyCtrl.files"
                                     ng-src="{{LoyaltyCtrl.update.image}}">

                            </div>
                            <button class="btn btn-success m-form-group margin-top-20 MarginBottom" ngf-select
                                    ng-model="LoyaltyCtrl.files" name="file" ngf-pattern="'image/*'"
                                    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                                Select
                            </button>
                        </div>
                        <div class="row padding-top-30">
                            <div class="col-lg-offset-2 col-lg-4">
                                <button class="btn btn-primary block full-width m-b" type="submit"
                                        ng-click="LoyaltyCtrl.update.submitted=true">Update
                                </button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-danger block full-width m-b"
                                        ng-click="LoyaltyCtrl.DeleteCategory()">Delete
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

        <div ng-controller="PasscodeCtrl as PasscodeCtrl"
             class="text-center loginscreen   animated fadeInDown" ng-if="showDiv==10">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9 text-left">
                    <h2>Passcodes</h2>
                    <p>Add, edit, delete the app's passcodes</p>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-lg-12 text-info text-large selectable text-left">
                    <button class="btn btn-info btn-circle btn-outline" type="button"
                            ng-click="PasscodeCtrl.showAddOptions()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <span ng-click="PasscodeCtrl.showAddOptions()">Add New Passcode</span>
                </div>
            </div>
            <form name="addPasscodeForm" class="m-t update-category col-lg-12" role="form" novalidate
                  ng-if="PasscodeCtrl.showAddPasscodeForm">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group margin-bottom-0">
                            <input type="text" class="form-control" placeholder="Passcode Name"
                                   ng-model="PasscodeCtrl.newPasscode.name" ng-required="true">
                        </div>
                    </div>
                    <div class="col-lg-3 text-info text-large selectable">
                        <div class="form-group margin-bottom-0">
                            <input type="text" class="form-control" placeholder="Passcode Value"
                                   ng-model="PasscodeCtrl.newPasscode.passcode" ng-required="true">
                        </div>
                    </div>
                    <div class="col-lg-6 text-left">
                        <p class="margin-bottom-0">
                            <button type="button" class="btn btn-primary m-b btn-w-m margin-bottom-0"
                                    ng-click="PasscodeCtrl.addPasscode()">Add Passcode
                            </button>
                            <button type="button" class="btn btn-default m-b btn-w-m margin-bottom-0"
                                    ng-click="PasscodeCtrl.hideAddOptions()">Cancel
                            </button>
                        </p>

                    </div>
                </div>
            </form>
            <form name="editPasscodeForm" class="m-t update-category col-lg-12" role="form" novalidate
                  ng-if="PasscodeCtrl.showEditPasscodeForm">
                <div class="row margin-bottom-15">
                    <div class="col-lg-3 text-large text-left">
                        Edit Passcode <span class="text-info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 text-info text-large selectable">
                        <div class="form-group margin-bottom-0">
                            <input type="text" class="form-control" placeholder="Passcode Value"
                                   ng-model="PasscodeCtrl.editPasscode.passcode" ng-required="true">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group margin-bottom-0">
                            <input type="text" class="form-control" placeholder="Passcode Name"
                                   ng-model="PasscodeCtrl.editPasscode.name" ng-required="true">
                        </div>
                    </div>
                    <div class="col-lg-6 text-left">
                        <p class="margin-bottom-0">
                            <button type="button" class="btn btn-primary m-b btn-w-m margin-bottom-0"
                                    ng-click="PasscodeCtrl.editPassCode()">Save
                            </button>
                            <button type="button" class="btn btn-default m-b btn-w-m margin-bottom-0"
                                    ng-click="PasscodeCtrl.hideAddOptions()">Cancel
                            </button>
                        </p>

                    </div>
                </div>
            </form>

            <!--<div class="row" ng-if="!PasscodeCtrl.showAddPasscodeForm">-->
            <!--<div class="col-lg-offset-3 col-lg-6 bold text-large">-->
            <!--Edit Passcode-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-12 margin-top-20">

                    <div class="ibox float-e-margins">
                        <div class="ibox-content padding-left-0 padding-right-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <p class="padding-right-10">
                                                <button class="btn btn-danger  m-b btn-w-m"
                                                        ng-disabled="PasscodeCtrl.disbaleButtons"
                                                        ng-click="PasscodeCtrl.confirmDelete()">
                                                    Delete
                                                </button>
                                                <button class="btn btn-primary  m-b btn-w-m "
                                                        ng-disabled="PasscodeCtrl.disbaleButtons"
                                                        ng-click="PasscodeCtrl.openEditPasscodeForm()">
                                                    Edit
                                                </button>
                                                <button class="btn btn-warning  m-b btn-w-m "
                                                        ng-disabled="PasscodeCtrl.disbaleButtons"
                                                        ng-click="PasscodeCtrl.confirmReset()">Reset
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th style="min-width: 150px" class="text-left">Name</th>
                                            <th class="text-center">Passcode</th>
                                            <th class="text-center">Monday</th>
                                            <th class="text-center">Tuesday</th>
                                            <th class="text-center">Wednesday</th>
                                            <th class="text-center">Thursday</th>
                                            <th class="text-center">Friday</th>
                                            <th class="text-center">Saturday</th>
                                            <th class="text-center">Sunday</th>
                                            <th class="text-center">Total Usage</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="passcode in PasscodeCtrl.allPasscodes">
                                            <td>
                                                <label class="">
                                                    <input type="checkbox" ng-model="passcode.checkboxValue" ng-change="PasscodeCtrl.selectPasscode(passcode,$index,passcode.checkboxValue)">
                                                </label>
                                            </td>
                                            <td>{{$index+1}}</td>
                                            <td class="text-left"><span class="line">{{passcode.name}}</span></td>
                                            <td class="text-center">{{passcode.passcode}}</td>
                                            <td class="text-center">{{passcode.monday}}</td>
                                            <td class="text-center">{{passcode.tuesday}}</td>
                                            <td class="text-center">{{passcode.wednesday}}</td>
                                            <td class="text-center">{{passcode.thursday}}</td>
                                            <td class="text-center">{{passcode.friday}}</td>
                                            <td class="text-center">{{passcode.saturday}}</td>
                                            <td class="text-center">{{passcode.sunday}}</td>
                                            <td class="text-center">{{passcode.totalUsed}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>