
<div class="wrapper login-bg" ng-controller="AdminLoginCtrl as login">

    <div class="middle-box text-center loginscreen animated fadeInDown margin-top-0">
        <div>
            <div class="row">

                <div class="col-md-12 text-center">
                    <img src="img/logo.png" class="logo">
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2>ADMIN LOGIN</h2>
                </div>
            </div>
            <form class="m-t" role="form" ng-submit="login.login()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="" ng-model="login.user.username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" ng-model="login.user.password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <div class="row" ng-if="login.loginError">
                    <div class="col-md-12 text-center">
                        <h4 class="bold errors">Invalid Username or Password</h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>